.clock {
  max-width: 870px;
}

.clock__face {
  padding: 5px;
  text-align: center;
  color: $basic-white;
}

.clock__time {
  font-size: 0;
}

.clock__time span {
  font-family: "Consolas", monospace;
  font-size: 22px;
  line-height: 1em;
}

.clock__blink-colon {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  30% {
    opacity: 0.4;
  }
}

.clock__date-container {
  font-size: 10px;
  line-height: 1em;
  letter-spacing: 0.1em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}
