$basic-white: #ffffff;
$basic-black: #000000;
$accent: yellow;
$accent-hover: gold;
$dark-bg: #131314;
$border-light: #c9ccd4;
$basic-dark: #1c1c1c;
$additional-dark: #1f1f1f;
$menu-dark: #48494d;
$menu-light-bg: #f6f6f6;
$menu-close: #141517;
$types-bg: #f6f7f9;
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$zindex-menu-button: 110;
$zindex-menu: 100;
$zindex-types-decoration-high: 90;
$zindex-types-image: 80;
$zindex-types-decoration-low: -10;
